.partenaires{
    padding: 2em 0 2em 0;
    position: relative;
}

#partenaires-hr{
    border-top: var(--dark-primary) 3px solid;

}

.partenaires-title{
    position: absolute;
    left: 50%;
    top: 1.5rem;
    background-color: var(--white);
    padding: 0 2em;
    transform: translateX(-50%);
    margin: 0;
    font-weight: 600;
    font-size: 2em;
}

.partenaires-prev-arrow g,
.partenaires-next-arrow g{
    fill: var(--black);
}

.partenaires-prev-arrow,
.partenaires-next-arrow{
    cursor: pointer;
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
}

.partenaires-prev-arrow{
    transform-origin: center;
    transform: rotate(180deg);
    left: 5vw;
}

.partenaires-next-arrow{
    right: 5vw;
}

.partenaires-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.partenaires-slider{
    display: block;
    position: relative;
    width: 100%;
    margin: 2em;
}

.partenaires-logo {
    margin: 0 2em;
    max-height: 250px;
    object-fit: contain;
}


/*************************************************
*                 RESPONSIVE                     *
**************************************************/

/* MOBILE */
@media (max-width: 576px) {
    .partenaires-slider{
        width: 80%;
    }
}