.profil{
    background-color: var(--dark-primary);
    width: 100vw;
    padding-top: 15vh;
    position: relative;

}

.profil-parallax {
  width: 100%;
  position: absolute;
  transform: translateY(-100px);
  max-height: 110%;
  object-fit: contain;
  bottom: 0;
}

.profil .content{
  padding-bottom: 5vh;
}

  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/

  /* MOBILE */
  @media (max-width: 576px) {

  
}