.etapes{
    /* TEMP */
    min-height: 100vh;
    background-color: var(--dark-primary);
    padding: 0em;
    position: relative;
}

.masked-image {
    margin: auto;
    margin-top: 10vh;
    position: relative;
    z-index: 0;
}

.triggers{
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
}

.trigger{
    color: var(--white);
    font-size: 5vw;
    position: relative;
    z-index: 4;
    min-width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    cursor: pointer;
    text-align: center;
}

.trigger.active p{
    font-size: 8vw;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.trigger .number-steps {
    line-height: 100%;
    height: auto;
    margin: auto auto 0 auto;
}

.trigger:hover .trigger-bar{
    height: 30px;
}

.trigger.active .number-steps{
    line-height: 60%;
}

.trigger.active .trigger-bar{
    height: 0px;
}

.trigger-bar{
    width: 3px;
    height: 60px;
    position: relative;
    display: block;
    background-color: var(--white);
    left: 50%;
}

.trigger-spacer{
    width: 50px;
    transition: .35s ease;
}

.trigger-spacer.big{
    width: 450px;
}

.steps-img-slider{
    max-height: 100vh;
}

.steps-img-slider img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: var(--dark-primary); */
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}
.mask-container:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background: #2c2d46;
    right: 100%;
    top: 0;
}
.mask .mask-container img {
    width: 100%;
    height: 100%!important;
    max-width: none;
    max-height: none;
    min-width: 0;
    min-height: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}
.steps-content-slider{
    max-width: 400px;
    padding: 2em 2em 4em 2em;
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 30px;
    border-radius: 25px 25px 0 0;
}

.steps-title{
    color: var(--primary);
    font-size: 1em;
}

.steps-subtitle{
    font-size: 1.3em;
    margin-bottom: 1.5em;
}

.content-slide{
    text-align: left;
}

/* MASK OFF */
.title-etapes.masked-element {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1;
}
.masked-image.masked-element{
  margin-top: 0;
}
.steps-content.masked-element {
    position: absolute!important;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0px);
}


  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/

  @media (max-width: 1024px) {
    .trigger-spacer {
        width: 20px;
        transition: .35s ease;
      }
  }

  @media (max-width: 1024px) {
    
      .trigger {
        min-width: 20px;
      }
      .trigger-spacer {
        width: 15px;
        transition: .35s ease;
      }
      .steps-content-txt {
        font-size: 0.9em;
      }
  }

  /* MOBILE */
  @media (max-width: 576px) {
    .steps-content-slider {
        max-width: 100%;
        padding: 2em 2em 6em 2em;
        background-color: var(--white);
        position: absolute;
        bottom: 0;
        left: 0!important;
        border-radius: 25px 25px 0 0;
      }
      .trigger {
        color: var(--primary);
        font-size: 20px;
      }
      .trigger.active p {
        font-size: 18vw;
        text-shadow: 2px 2px 8px rgb(0 0 0 / 11%);
        cursor: default;
      }
      .trigger .number-steps {
        line-height: 100%;
        height: auto;
        margin: auto auto 0 auto;
        padding-top: 2vh;
        padding-bottom: 2vh;
      }
      .trigger-bar {
        height: 2vh;
        background: var(--primary);
      }
      .trigger.active .number-steps {
        line-height: 15%;
    }
}