/* Archive */


.archive-content{
    position: relative;
    z-index: 5;
    color: var(--white);
}

.archive-bkg{
    position: fixed;
    height: 100vh!important;
    width: 100vw;
    object-fit: cover;
}

.archive-background{
    position: fixed;
    width: 100%;
    height: 100%;
}

.archive .blog-background,
.search .blog-background{
    opacity: 0.7;
}

.archive-content .row{
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.archive-content ul{
    list-style: none;
    margin: 0;
}

.taxo-desc{
    width: 40%;
    padding: 0 2em 0 1em;
}

.taxo-desc img{
    margin-bottom: 2em;
}

.archive-single-product{
    max-width: calc(100% / 3 - 30px);
    overflow: hidden;
    padding: 0;
    padding-bottom: 30px;
}

.half .archive-single-product{
    max-width: calc(100% / 2 - 30px);
}

.product-inner-wrapper .attachment-post-thumbnail{
    width: 100%;
    height: 100%;
    min-height: 330px;
    max-height: 40vh;
    object-fit: cover;
}

.product-inner-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.product-inner-wrapper > img{
    transition: .3s ease;
}

.product-inner-wrapper:hover > img{
    transform: scale(1.1);
}

.product-title{
    position: absolute;
    bottom: 1em;
    left: 1em;
    margin: 0;
    width: calc(100% - 2em);
    background-color: rgba(0, 0, 0, 0.83);
    border-radius: 15px;
    padding: 1em;
    color: var(--white);
    display: flex;
    transition: .35s ease;

}

.product-title p{
    margin: 0;
}

.product-inner-wrapper:hover .product-title{
    color: var(--secondary);
}

.filtre-toggle{
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s ease;
    z-index: 99999;
}

.filtre-toggle:before{
    content: "Filtres";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(0, -150%) rotate(-90deg);
    color: var(--white);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    transform-origin: center left;
    opacity: 1;
    transition: .5s ease;
}

.open .filtre-toggle::before{
    transform: translate(calc(-100% - 0px),-100%) rotate(90deg) scaleX(0);
    opacity: 0;
}

.filtre-toggle svg{
    width: 50%;
}

.filtre-sidebar{
    position: fixed;
    left: 100%;
    top: 0;
    min-height: 100%;
    background-color: var(--black);
    width: auto;
    min-width: 25vw;
    max-width: 33vw;
    display: flex;
    transition: .5s ease;
    z-index: 999;
    align-items: flex-end;
    justify-content: center;
}

.open .filtre-sidebar{
    transform: translateX(-100%);
}

.filtre{
    position: relative;
    z-index: 55;
}

.taxo-filter{
    list-style: none;
    margin: 0;
    padding: 5vw;
    height: 100%;
    width: 100%;
}

.taxo-filter li{
    color: var(--white);
}

.subtaxo-filter{
    list-style: none;
    padding: 0;
    margin-left: 0em;
    position: relative;
}

.subtaxo-filter::before{
    content: "";
    width: 25%;
    height: 2px;
    background-color: var(--primary);
    position: absolute;
    top: -5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: .65s ease;
}

.filtre.open .subtaxo-filter::before{
    transform: scaleX(1);
}

.subtaxo-filter li{
    margin: 0.5em 0;
}

.taxo-filter a{
    color: var(--white);
    text-decoration: none;
    transition: .35s ease;
}

.taxo-filter li a:hover{
    color: var(--secondary);
}

.taxo-filter li.current-cat a{
    color: var(--secondary);
}


.main-cat{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.main-cat li{
    font-size: 0.8em;
}

/* Single */

article.cpt-single, article.product{
    min-height: 100vh;
    padding-top: 25vh;
}

.product-gallery-container{
    position: fixed;
    left: 0;
    top: 0;
    width: calc(50vw - 50px);
    height: 100%;
}

.product-gallery-sticky{
    position: sticky!important;
    min-height: 100vh;
    top: 0;
    left: 0;
}

.product-gallery-sticky img{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.old-price{
    text-decoration: line-through 2px;
    font-size: 1.2em!important;
}

.product-price p{
    display: inline;
    font-size: 2em;
}
.new-price{
    margin-right: 0.5em;
    font-weight: bold;
}

.product-price{
    margin-bottom: 1.5em;
    margin-top: 1em;
}

.product-desc{
    margin-top: 7vh;
}

.related-posts > .row{
    margin-bottom: 1.5em;
    gap: 20px;
}

.single-product .product-title p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: .35s ease;
}

.product-title:hover p{
    white-space: normal;
    text-overflow: clip;

}

.product-title > .d-flex{
    width: 100%;
}

.related-posts > .row > *{
    width: calc(50% - 20px);
}

.buy, .see-all{
    color: var(--white)!important;
    background-color: var(--dark-primary);
    padding: 1em 1.5em;
    border-radius: 4px;
    transition: .35s ease;
    display: inline-flex;
}

.buy img{
    max-width: 20px;
    margin-right: 5px;
    transform: translateY(-2.5px);
}

.buy:hover{
    background-color: var(--secondary);
}

article.cpt-single a, article.product a{
    transition: .35s ease;
    color: var(--dark-primary);
}

.attributs p{
    font-size: 1em;
    font-weight: 500;
}

.desc-tab-tgl, .additional-tab-tgl{
    cursor: pointer;
}

.tabs{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 40px;
    border-bottom: 1px solid var(--black);
    padding: 0;
    list-style: none;
}

.post-taxo{
    font-weight: 500;
}

.post-taxo a{
    font-weight: 300;
}

.tabs li{
    display: flex;
    padding-right: 30px;
    position: relative;
    top: 1px;
    margin: 1em;
    text-transform: uppercase;
    transition: .35s ease;
    opacity: .5;
}

.tabs li.active{
    opacity: 1;
    font-weight: bold;
}

.attributs tr{
    background-color: var(--light-grey);
}

.attributs tr:nth-child(even){
    background-color: var(--white);
}

.attributs th,
.attributs td{
    padding: 1em;
}


.related-posts, .see-more{
    border-top: 1px solid var(--black);
    padding-top: 1em;
    margin-top: 10vh;
}

.related-products{
    height: fit-content;
}


.related-posts .attachment-post-thumbnail,
.see-more-posts .attachment-post-thumbnail{
    min-height: 200px;
    height: 200px;
}

.product-gallery-sticky .slick-next{
    right: 25px !important;
}

.product-gallery-sticky .slick-prev{
    left: 25px!important;
}

.product-gallery-sticky .slick-arrow{
    z-index: 2;
}

.product-gallery-sticky .slick-next:before,
.product-gallery-sticky .slick-next:after,
.product-gallery-sticky .slick-prev:before,
.product-gallery-sticky .slick-prev:after{
    content: '';
    display: block;
    background: var(--white);
    height: 3px;
    position: absolute;
    right: 0;
    top: 19px;
    width: 26px;
    transform-origin: right center;
    box-shadow: 1px 1px 6px black;
    transition: .35s ease;
    transform: rotateZ(45deg);
}

.product-gallery-sticky .slick-next:after,
.product-gallery-sticky .slick-prev:after{
    transform: rotateZ(-45deg);
}

.product-gallery-sticky .slick-prev:before,
.product-gallery-sticky .slick-prev:after{
    transform-origin: left center;
    right: auto;
    left: 0;
}

.product-gallery-sticky .slick-dots{
    bottom: 15px;
}

.product-gallery-sticky .slick-dots li.slick-active button:before,
.product-gallery-sticky .slick-dots li button:before{
    color: var(--white);
}

.product-gallery-sticky .slick-dots li button:before{
    opacity: .5;
}

.product-name{
    font-size: 3.5em;
    line-height: 1em;
}

.similar-posts{
    font-size: 1.5em;
}

.see-more{
    font-size: 1.5em;
}

.back-to-archive{
    font-size: 1em;
    margin-bottom: 1em;
    color: var(--black)!important;
}

.back-to-archive img{
    max-width: 25px;
}

.filtre-toggle::after{
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 3px solid var(--primary);
    border-radius: 50%;
}


.filtre-toggle.obvious::after{
    animation: obvious 2s ease infinite;
}
.filtre-toggle.obvious2::after{
    animation: obvious2 2s ease infinite;
}
.filtre.open .filtre-toggle:after{
    animation: none;
}
.filtre .filtre-toggle svg{
    transition: .35s ease;
    transform-origin: center;
}
.filtre.open .filtre-toggle svg{
    transform: rotate(45deg);
}

@keyframes obvious{
    from{
        transform: scale(1);
        opacity: 1;
        border: 4px solid var(--primary);
    }
    to{
        transform: scale(5);
        opacity: 0;
        border: 1px solid transparent
    }
}
@keyframes obvious2{
    from{
        transform: scale(1);
        opacity: 1;
        border: 3px solid var(--primary);
    }
    to{
        transform: scale(3);
        opacity: 0;
        border: 1px solid transparent
    }
}