
   /*                    FOOTER
  ************************************************/
  footer{
    font-family: 'Raleway', sans-serif;
  }
  .site-footer{
    position: relative;
    z-index: 666;
  }
  #colophon a{
    text-decoration: none;
  }
  .footer-container{
    background-color: var(--dark-grey);
    color:  var(--white);
  }

  .sub-footer{
    background-color: var(--black);
    color: var(--white);
  }
  .sub-footer p{
    padding: 0em 0 0.5em 0;
    margin: 0;
  }
  .sub-footer .sub-footer-legacy p{
    padding: 0em;
    margin: 0;
  }
  .sub-footer .sub-footer-legacy{
    border-top: 1px solid #ffffff52;
  }
  #footer-menu{
    list-style-type: none;
  }
  #footer-menu li a {
      padding: 0.4em 0.3em 0.4em 0;
      margin: 0.1em 0em;
      display: block;
      font-size: 16px;
  }
  #colophon a{
    color: var(--white);
  }
  .linkRS span{
    height: 35px;
    width: 35px;
  }
  .RS-link{
    display: flex;
    flex-direction: row;
  }
  .filter-grey{
    filter: grayscale(1);
  }

  ul#footer-menu {
    columns: 2;
    display: block!important;
    text-align: left;
}
.address-title{
 color:rgba(255, 255, 255, 0.2);
 font-size: 20px;
 letter-spacing: 1px;
 text-transform: capitalize;
}
.footer-banner{
  position: relative;
}
.logo-footer:after {
  content: " ";
  height: 1px;
  background: rgb(255,255,255,.2);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.site-title h2{
  width: auto;
  padding: 2em 1em 2em 1em;
  float: right;
  color: var(--white);
  border-left: 1px solid rgb(255, 255, 255, 0.2);
  border-right: 1px solid rgb(255, 255, 255, 0.2);
  letter-spacing: 5px;
  margin: 0;
  font-size: 1.6em;
  font-weight: 700;
}
.site-desc,
.insta-footer{
  display: flex;
  align-items: center;
}
.site-desc p{
  margin: 0;
  font-weight: 700;
}
#text-2{
  opacity: .5;
}

.footer-devis{
  width: max-content;
  text-align: center;
  /* margin: auto; */
  border: 1px solid var(--white);
  padding: 0.5em 2em;
  border-radius: 500px;
}
footer hr{
  margin: 1em 0;
  width: 15%;
  height: 1px;
  border: none;
}