/* FONT SIZE STYLE */
.has-big-font-size {
  font-size: 7rem;
  font-family: 'Klinic Slab';
}

.has-bigtext-font-size {
  font-size: 2rem;
  font-weight: 600;
}

.has-small-font-size {
  font-size: 0.9rem;
}

/* **************** */
/* BTN CUSTOM STYLE */
/* light  */
.is-style-light-link a {
  padding: 1em 2em 1em 0;
  transition: all .3s;
  position: relative;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.3em;
  background-color: transparent;
  color: var(--orange) !important;
  border-radius: 0;
}

.is-style-light-link a::before {
  content: '\203A';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-100%, -50%);
  transition: transform .3s;
  font-size: 1.5em;
  font-weight: 100;
}

.is-style-light-link a:hover::before {
  transform: translate(-60%, -50%);
}

.wp-block-button__link {
  transition: .35s ease;
}

.wp-block-button__link:active, .wp-block-button__link:focus, .wp-block-button__link:hover, .wp-block-button__link:visited {
  color: #fff;
  text-decoration: none;
  box-shadow: inset 0 0 0px 5px #00000047;
}


/* **************** */
/* COLUMNS STYLE */
.is-style-columns-link {
  min-height: 25vh;
}

.is-style-columns-link .wp-block-column {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 3rem 1.5rem;
}

.is-style-columns-link .wp-block-column p {
  margin: auto 0;
}

.is-style-columns-link .wp-block-column:not(:first-child),
.is-style-container-half-right .wp-block-column:not(:first-child),
.is-style-container-half-left .wp-block-column:not(:first-child) {
  margin-left: 0em;
}


/* HALF COLUMN RIGHT */
.is-style-container-half-right .wp-block-column:first-of-type {
  padding: 5rem 5em 5rem calc(15vw + 15px);
  max-width: calc(50vw - 0em);
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.is-style-container-half-right .wp-block-column:last-of-type div {
  min-height: 100% !important;
}

/* HALF COLUMN LEFT */
.is-style-container-half-left .wp-block-column:last-of-type {
  padding: 5rem calc(15vw + 15px) 5rem 5em;
  max-width: calc(50vw - 0em);
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.is-style-container-half-left .wp-block-column:first-of-type div {
  min-height: 100% !important;
}

/* **************** */
/* COLUMN SINGLE STYLE */
.is-style-column-border {
  box-shadow: inset 0 0 0 1pt #343a40;
}

/* **************** */
/* CONTAINER STYLE */
/* SMALL */
.is-style-container-small {
  max-width: 55vw;
  margin: auto;
}

/* Classic Container bottstrap */
.is-style-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.is-style-container-wide {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.is-style-rounded-image img {
  border-radius: 20px !important;
}

@media (min-width: 576px) {
  .is-style-container {
    max-width: 540px;
  }

  .is-style-container-wide {
    max-width: 565px;
  }

}

@media (min-width: 768px) {
  .is-style-container {
    max-width: 720px;
  }

  .is-style-container-wide {
    max-width: 750px;
  }

}

@media (min-width: 992px) {
  .is-style-container {
    max-width: 960px;
  }

  .is-style-container-wide {
    max-width: 980px;
  }
}

@media (min-width: 1200px) {
  .is-style-container {
    max-width: 1140px;
  }

  .is-style-container-wide {
    max-width: 1180px;
  }
}

@media (min-width: 1024px) {
  .is-style-container {
    max-width: 70vw;
  }

  .is-style-container-wide {
    max-width: 95vw;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .is-style-container-small {
    max-width: 100vw;
    padding: 0 15px;
  }

  .has-big-font-size {
    font-size: 3.5rem !important;
  }

  .has-bigtext-font-size {
    font-size: 1.3rem;
  }

  .is-style-container-half-right .wp-block-column:first-of-type,
  .is-style-container-half-left .wp-block-column:last-of-type {
    padding: 0 15px;
    max-width: 100%;
  }


}