/*                    MENU
*************************************************/

header.site-header{
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    height: auto;
    align-items: center;
    transition: .35s ease;
}

.header-light{
  padding: 0.5em;
}



.main-menu-container{
    position: relative;
    z-index: 2;
    margin-right: 2.5em;
}

.sticky .header-light{
  background-color: var(--white);
  box-shadow: 0 3px 3px #00000021;
}

body .header-light .main-menu{
  background-color: unset;
  border: none !important;
  border-radius: unset;
  box-shadow: unset !important;
}

.header-light li:not(:last-of-type){
  margin-right: 2em;
}

.header-light ul:not(#mobile-menu) li:last-of-type{
  padding: 0.5em 1.5em;
}

.header-light ul:not(#mobile-menu) li a{
  color: var(--white);
  padding: 0;
}

.sticky .header-light ul:not(#mobile-menu) li a{
  color: var(--black);
}

.sticky .header-light ul:not(#mobile-menu) li:last-of-type a{
  color: var(--white);
}

.sticky .header-light .selected{
  background-color: var(--black);
}

.header-light .selected{
  top: auto;
  bottom: 0;
  height: 1px;
  background-color: var(--white);
  border-radius: 0;
}

body.sticky header:not(.header-light) .main-menu-container{
    margin-right: 0.8em;
}

body.blog .main-menu,
body.sticky .main-menu{
    box-shadow: 0 0 50px #0000003b;
    border: 1px solid #ffffff0f;
}

body.sticky header:not(.header-light) .logo{
    padding: 0.2em 2em 0.5em 2em;
}

.logo svg{
    transition: .3s ease;
}

body.sticky .logo svg{
    height: 55px;
}

.logo > a >  img,
.logo > a > svg{
  max-width: 150px;
}

.main-menu{
    margin: 0;
    padding: 0;
    background-color: var(--dark-primary);
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ffffff00;
}

.main-menu li{
    margin: 0;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    --logo-bkg: #FFFFFF;
    padding: 0.5em;
    top: 0;
    margin: 0 5vw;
    position: relative;
    background-color: var(--logo-bkg);
    border-radius: 0 0 25px 25px;
    display: flex;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
    z-index: 9999999;
}

.global-menu{
  margin-left: auto;
}

.header-light .logo svg g{
  fill: var(--white);
}

.sticky .header-light .logo svg g{
  fill: var(--black);
}

.sticky .header-light .logo{
  padding: 0;
}

.header-light .logo-l{
  position: relative;
  transition: .35s ease;
}

.header-light .logo-d{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-light > .logo > a{
  position: relative;
}

body:not(.sticky) .header-light .logo-d{
  opacity: 0;
}

.sticky .header-light .logo-l{
  opacity: 0;
  max-width: 65px;
}

.header-light .logo{
  box-shadow: unset;
  background-color: unset;
}


.main-menu li:last-of-type:before{
    content: "";
    background-color: var(--primary);
    border-radius: 40px;
    display: block;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
}

.selected{
    background-color: var(--primary);
    border-radius: 40px;
    display: block;
    height: 100%;
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
}

.main-menu li a{
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-size: 1em;
}

  /* Style MENU TOGGLE */
  .burger-menu{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 3;
    height: 65px;
    width: 65px;
    display: flex;
    background-color: var(--primary);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 20px;
  }

  .mobile-main-menu.nav-open .burger-menu{
    background-color: transparent;
  }

  .menu-toggle {
    cursor: pointer;
    min-height: 29px;
    min-width: 32px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .transparent-nav .menu-toggle span {
    background: var(--white);
  }
  .mobile-main-menu.nav-open .burger-menu span{
    background-color: var(--dark-primary);
  }
  .menu-toggle span, .menu-toggle span {
    display: block;
    height: 2px;
    width: 32px;
    margin-bottom: 7px;
    background: var(--white);
  }
  
  .nav-open .menu-toggle .hamb-line {
    width: 0;
  }

  .menu-toggle span {
    transition-delay: 800ms ;
  }
  .menu-toggle span:nth-child(2) {
    transition-delay: 950ms;
  }
  .menu-toggle span:nth-child(1) {
    transition-delay: 1100ms;
  }
  .nav-open .menu-toggle span {
    transition-delay: 0ms ;
  }
  .nav-open  .menu-toggle span:nth-child(2) {
    transition-delay: 150ms;
  }
  .nav-open  .menu-toggle span:nth-child(1) {
    transition-delay: 300ms;
  }

  .crose-line {
    position: absolute!important;
    top: 0;
    width: 0!important;
    transform: rotate(45deg)!important;
    transform-origin: center left;
    margin: 0!important;

    transition-delay: 0ms!important;
  }
  .crose-line2 {
    transform: rotate(135deg) translate(-22px, -22px)!important;
  }
  .crose-line {
    transition-delay: 0ms!important;
  }
  .crose-line2 {
    transition-delay: 200ms!important;
  }
  .nav-open .crose-line {
    width: 43px!important;
    transition-delay: 700ms!important;
  }
  .nav-open .crose-line2 {
    width: 43px!important;
    transition-delay: 850ms!important;
  }

  .mobile-main-menu .mobile-menu-container{
      opacity: 0;
      pointer-events: none;
      transition: all 500ms ease;
  }

  .mobile-menu-container{
    position: relative;
    bottom: 0vh;
    height: 100%;
  }

  .mobile-main-menu.nav-open .mobile-menu-container{
      opacity: 1;
      pointer-events: initial;
  }

  .mobile-main-menu{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--white);
    box-shadow: 0 0 1.8px rgba(0,0,0,.035), 0 0 4.8px rgba(0,0,0,.05), 0 0 11.7px rgba(0,0,0,.065), 0 0 40px rgba(0,0,0,.1);
    max-height: 0;
    height: 100%;
    width: 100%;
  }

  .mobile-container-menu{
      height: 100%;
      position: relative;
      top: 25vh;
      padding: 15px;
      opacity: 0;
  }

  .mobile-main-menu.nav-open .mobile-container-menu{
    opacity: 1;
  }

  .mobile-container-menu > ul{
      display: flex;
      flex-direction: column;
  }

  .mobile-container-menu li{
      font-size: 8vw;
      margin-bottom: .5em;
  }

  .mobile-menu-container li a{
    color: var(--dark-primary);
  }

  .mobile-social{
    display: flex;
    position: absolute;
    bottom:0;
    height: 65px;
    left: 0;
    width: 100%;
  }

  .mobile-container-menu > ul{
    margin: 1em;
  }
  .mobile-social .col-RS{
    margin: auto;
  }

  .mobile-social .col-RS svg path
  {
    fill: var(--dark-primary);
    stroke: var(--dark-primary);
  }

  @media screen and (max-width: 768px){
    .mobile-main-menu.nav-open {
        max-height: 1200px;
        z-index: 9999;
    }
}
