

[hidden] {
    display: none !important;
}
.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.wp-block-columns{
    margin: 0;
}

html{
  margin-top: 0 !important;
  background: white !important;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

@media (min-width: 1500px) {
    .container {
        max-width: 70vw;
    }
}
.anim-300-linear, .anim-300-linear a {
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}

.anim-300, .anim-300 a {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.anim-500, .anim-500 a {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.anim-800, .anim-800 a {
    -webkit-transition: all 800ms ease !important;
    -moz-transition: all 800ms ease !important;
    -ms-transition: all 800ms ease !important;
    -o-transition: all 800ms ease !important;
    transition: all 800ms ease !important;
}

.anim-800-linear {
    -webkit-transition: all 800ms linear !important;
    -moz-transition: all 800ms linear !important;
    -ms-transition: all 800ms linear !important;
    -o-transition: all 800ms linear !important;
    transition: all 800ms linear !important;
}

.nav ul {
    list-style: none;
    margin-bottom: 0;
}

.no-bkg {
    background: transparent !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.ls-2 {
    letter-spacing: 2px !important;
}

.ls-3 {
    letter-spacing: 3px !important;
}

.ls-4 {
    letter-spacing: 4px !important;
}


.fs-10 {
    font-size: 10px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-19 {
    font-size: 19px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-21 {
    font-size: 21px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-23 {
    font-size: 23px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-34 {
    font-size: 34px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-38 {
    font-size: 38px !important;
}

.fs-40 {
    font-size: 40px !important;
}

.fs-42 {
    font-size: 42px !important;
}

.fs-44 {
    font-size: 44px !important;
}

.fs-46 {
    font-size: 46px !important;
}

.fs-48 {
    font-size: 48px !important;
}

.fs-50 {
    font-size: 50px !important;
}

.fs-55 {
    font-size: 55px !important;
}

.fs-60 {
    font-size: 60px !important;
}

.fs-70 {
    font-size: 70px !important;
}

.fs-80 {
    font-size: 80px !important;
}

.fs-90 {
    font-size: 90px !important;
}

.fs-100 {
    font-size: 100px !important;
}

.t-0{top : 0}
.r-0{right : 0}
.b-0{bottom : 0}
.l-0{left : 0}

@media screen and (max-width: 768px) {
    .fs-md-10 {
        font-size: 10px !important;
    }

    .fs-md-12 {
        font-size: 12px !important;
    }

    .fs-md-13 {
        font-size: 13px !important;
    }

    .fs-md-14 {
        font-size: 14px !important;
    }

    .fs-md-15 {
        font-size: 15px !important;
    }

    .fs-md-16 {
        font-size: 16px !important;
    }

    .fs-md-17 {
        font-size: 17px !important;
    }

    .fs-md-18 {
        font-size: 18px !important;
    }

    .fs-md-19 {
        font-size: 19px !important;
    }

    .fs-md-20 {
        font-size: 20px !important;
    }

    .fs-md-21 {
        font-size: 21px !important;
    }

    .fs-md-22 {
        font-size: 22px !important;
    }

    .fs-md-23 {
        font-size: 23px !important;
    }

    .fs-md-24 {
        font-size: 24px !important;
    }

    .fs-md-25 {
        font-size: 25px !important;
    }

    .fs-md-26 {
        font-size: 26px !important;
    }

    .fs-md-28 {
        font-size: 28px !important;
    }

    .fs-md-30 {
        font-size: 30px !important;
    }

    .fs-md-32 {
        font-size: 32px !important;
    }

    .fs-md-34 {
        font-size: 34px !important;
    }

    .fs-md-36 {
        font-size: 36px !important;
    }

    .fs-md-38 {
        font-size: 38px !important;
    }

    .fs-md-40 {
        font-size: 40px !important;
    }

    .fs-md-42 {
        font-size: 42px !important;
    }

    .fs-md-44 {
        font-size: 44px !important;
    }

    .fs-md-46 {
        font-size: 46px !important;
    }

    .fs-md-48 {
        font-size: 48px !important;
    }

    .fs-md-50 {
        font-size: 50px !important;
    }

    .fs-md-55 {
        font-size: 55px !important;
    }

    .fs-md-60 {
        font-size: 60px !important;
    }

    .fs-md-70 {
        font-size: 70px !important;
    }

    .fs-md-80 {
        font-size: 80px !important;
    }

    .fs-md-90 {
        font-size: 90px !important;
    }

    .fs-md-100 {
        font-size: 100px !important;
    }
    .t-md-0{top : 0}
    .r-md-0{right : 0}
    .b-md-0{bottom : 0}
    .l-md-0{left : 0}
}

@media screen and (max-width: 576px) {
    .fs-sm-10 {
        font-size: 10px !important;
    }

    .fs-sm-12 {
        font-size: 12px !important;
    }

    .fs-sm-13 {
        font-size: 13px !important;
    }

    .fs-sm-14 {
        font-size: 14px !important;
    }

    .fs-sm-15 {
        font-size: 15px !important;
    }

    .fs-sm-16 {
        font-size: 16px !important;
    }

    .fs-sm-17 {
        font-size: 17px !important;
    }

    .fs-sm-18 {
        font-size: 18px !important;
    }

    .fs-sm-19 {
        font-size: 19px !important;
    }

    .fs-sm-20 {
        font-size: 20px !important;
    }

    .fs-sm-21 {
        font-size: 21px !important;
    }

    .fs-sm-22 {
        font-size: 22px !important;
    }

    .fs-sm-23 {
        font-size: 23px !important;
    }

    .fs-sm-24 {
        font-size: 24px !important;
    }

    .fs-sm-25 {
        font-size: 25px !important;
    }

    .fs-sm-26 {
        font-size: 26px !important;
    }

    .fs-sm-28 {
        font-size: 28px !important;
    }

    .fs-sm-30 {
        font-size: 30px !important;
    }

    .fs-sm-32 {
        font-size: 32px !important;
    }

    .fs-sm-34 {
        font-size: 34px !important;
    }

    .fs-sm-36 {
        font-size: 36px !important;
    }

    .fs-sm-38 {
        font-size: 38px !important;
    }

    .fs-sm-40 {
        font-size: 40px !important;
    }

    .fs-sm-42 {
        font-size: 42px !important;
    }

    .fs-sm-44 {
        font-size: 44px !important;
    }

    .fs-sm-46 {
        font-size: 46px !important;
    }

    .fs-sm-48 {
        font-size: 48px !important;
    }

    .fs-sm-50 {
        font-size: 50px !important;
    }

    .fs-sm-55 {
        font-size: 55px !important;
    }

    .fs-sm-60 {
        font-size: 60px !important;
    }

    .fs-sm-70 {
        font-size: 70px !important;
    }

    .fs-sm-80 {
        font-size: 80px !important;
    }

    .fs-sm-90 {
        font-size: 90px !important;
    }

    .fs-sm-100 {
        font-size: 100px !important;
    }
    .t-sm-0{top : 0}
    .r-sm-0{right : 0}
    .b-sm-0{bottom : 0}
    .l-sm-0{left : 0}
}

.fs-3vw {
    font-size: 3vw !important;
}

.fs-4vw {
    font-size: 4vw !important;
}

.fs-5vw {
    font-size: 5vw !important;
}

.fs-6vw {
    font-size: 6vw !important;
}

.fs-7vw {
    font-size: 7vw !important;
}

.fs-8vw {
    font-size: 8vw !important;
}

.fs-9vw {
    font-size: 9vw !important;
}

.fs-10vw {
    font-size: 10vw !important;
}

.fs-12vw {
    font-size: 12vw !important;
}


.lh-1 {
    line-height: 1px !important;
}

.lh-12 {
    line-height: 12px !important;
}

.lh-13 {
    line-height: 13px !important;
}

.lh-14 {
    line-height: 14px !important;
}

.lh-15 {
    line-height: 15px !important;
}

.lh-16 {
    line-height: 16px !important;
}

.lh-17 {
    line-height: 17px !important;
}

.lh-18 {
    line-height: 18px !important;
}

.lh-19 {
    line-height: 19px !important;
}

.lh-20 {
    line-height: 20px !important;
}

.lh-21 {
    line-height: 21px !important;
}

.lh-22 {
    line-height: 22px !important;
}

.lh-23 {
    line-height: 23px !important;
}

.lh-24 {
    line-height: 24px !important;
}

.lh-25 {
    line-height: 25px !important;
}

.lh-26 {
    line-height: 26px !important;
}

.lh-28 {
    line-height: 28px !important;
}

.lh-30 {
    line-height: 30px !important;
}

.lh-32 {
    line-height: 32px !important;
}

.lh-34 {
    line-height: 34px !important;
}

.lh-36 {
    line-height: 36px !important;
}

.lh-38 {
    line-height: 38px !important;
}

.lh-40 {
    line-height: 40px !important;
}

.lh-42 {
    line-height: 42px !important;
}

.lh-44 {
    line-height: 44px !important;
}

.lh-46 {
    line-height: 46px !important;
}

.lh-48 {
    line-height: 48px !important;
}

.lh-50 {
    line-height: 50px !important;
}

.lh-55 {
    line-height: 55px !important;
}

.lh-60 {
    line-height: 60px !important;
}

.lh-70 {
    line-height: 70px !important;
}

.lh-75 {
    line-height: 75px !important;
}

.lh-80 {
    line-height: 80px !important;
}

.lh-90 {
    line-height: 90px !important;
}

.lh-100 {
    line-height: 100px !important;
}

.lh-normal {
    line-height: normal;
}

.lh-4vw {
    line-height: 4vw !important;
}

.fw-900 {
    font-weight: 900 !important;
}

.fw-800 {
    font-weight: 800 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-300 {
    font-weight: 300 !important;
}

.fw-200 {
    font-weight: 200 !important;
}

.fw-100 {
    font-weight: 100 !important;
}


.t-0 {
    top: 0;
}

.l-0 {
    left: 0;
}

.text-container {
    max-width: 500px;
}

.text-container p,
.text-container-p p {
    margin-bottom: 15px;
}

.text-container p:last-of-type {
    margin-bottom: 0px;
}

.w-80 {
    width: 80%;
}

.w-5vw {
    width: 5vw;
    min-width: 300px;
}

.w-10vw {
    width: 10vw;
    min-width: 300px;
}

.w-15vw {
    width: 15vw;
    min-width: 300px;
}

.w-20vw {
    width: 20vw;
    min-width: 300px;
}

.w-25vw {
    width: 25vw;
    min-width: 300px;
}

.w-30vw {
    width: 30vw;
    min-width: 300px;
}

.w-35vw {
    width: 35vw;
    min-width: 300px;
}

.w-40vw {
    width: 40vw;
    min-width: 300px;
    max-width: 500px;
}

.w-45vw {
    width: 45vw;
    min-width: 300px;
}

.w-50vw {
    width: 50vw;
    min-width: 300px;
}

.w-55vw {
    width: 55vw;
    min-width: 300px;
}

.w-60vw {
    width: 60vw;
    min-width: 300px;
}

.w-65vw {
    width: 65vw;
    min-width: 300px;
}

.w-70vw {
    width: 70vw;
    min-width: 300px;
}

.w-75vw {
    width: 75vw;
    min-width: 300px;
}

.w-80vw {
    width: 80vw;
    min-width: 300px;
}

.w-85vw {
    width: 85vw;
    min-width: 300px;
}

.w-90vw {
    width: 90vw;
    min-width: 300px;
}

.w-95vw {
    width: 95vw;
    min-width: 300px;
}

.w-100vw {
    width: 100vw;
}


.h-5vh {
    height: 5vh
}

.h-10vh {
    height: 10vh
}

.h-15vh {
    height: 15vh;
}

.h-20vh {
    height: 20vh
}

.h-25vh {
    height: 25vh
}

.h-30vh {
    height: 30vh
}

.h-35vh {
    height: 35vh
}

.h-40vh {
    height: 40vh
}

.h-45vh {
    height: 45vh
}

.h-50vh {
    height: 50vh
}

.h-55vh {
    height: 55vh
}

.h-60vh {
    height: 60vh
}

.h-65vh {
    height: 65vh
}

.h-70vh {
    height: 70vh
}

.h-75vh {
    height: 75vh
}

.h-80vh {
    height: 80vh
}

.h-85vh {
    height: 85vh
}

.h-90vh {
    height: 90vh
}

.h-95vh {
    height: 95vh
}

.h-100vh {
    height: 100vh
}

.mh-100vh {
    min-height: 100vh;
}

.ml-5vw {
    margin-left: 5vw
}

.mr-5vw {
    margin-right: 5vw
}

.mb-5vh {
    margin-bottom: 5vh
}

.mt-5vh {
    margin-top: 5vh
}

.ml-10vw {
    margin-left: 10vw
}

.mr-10vw {
    margin-right: 10vw
}

.mb-10vh {
    margin-bottom: 10vh
}

.mt-10vh {
    margin-top: 10vh
}

.ml-15vw {
    margin-left: 15vw
}

.mr-15vw {
    margin-right: 15vw
}

.mb-15vh {
    margin-bottom: 15vh
}

.mt-15vh {
    margin-top: 15vh
}

.ml-20vw {
    margin-left: 20vw
}

.mr-20vw {
    margin-right: 20vw
}

.mb-20vh {
    margin-bottom: 20vh
}

.mt-20vh {
    margin-top: 20vh
}

.ml-25vw {
    margin-left: 25vw
}

.mr-25vw {
    margin-right: 25vw
}

.mb-25vh {
    margin-bottom: 25vh
}

.mt-25vh {
    margin-top: 25vh
}

.ml-30vw {
    margin-left: 30vw
}

.mr-30vw {
    margin-right: 30vw
}

.mb-30vh {
    margin-bottom: 30vh
}

.mt-30vh {
    margin-top: 30vh
}

.ml-35vw {
    margin-left: 35vw
}

.mr-35vw {
    margin-right: 35vw
}

.mb-35vh {
    margin-bottom: 35vh
}

.mt-35vh {
    margin-top: 35vh
}

.ml-40vw {
    margin-left: 40vw
}

.mr-40vw {
    margin-right: 40vw
}

.mb-40vh {
    margin-bottom: 40vh
}

.mt-40vh {
    margin-top: 40vh
}

.ml-45vw {
    margin-left: 45vw
}

.mr-45vw {
    margin-right: 45vw
}

.mb-45vh {
    margin-bottom: 45vh
}

.mt-45vh {
    margin-top: 45vh
}

.ml-50vw {
    margin-left: 50vw
}

.mr-50vw {
    margin-right: 50vw
}

.mb-50vh {
    margin-bottom: 50vh
}

.mt-50vh {
    margin-top: 50vh
}

.ml-55vw {
    margin-left: 55vw
}

.mr-55vw {
    margin-right: 55vw
}

.mb-55vh {
    margin-bottom: 55vh
}

.mt-55vh {
    margin-top: 55vh
}

.ml-60vw {
    margin-left: 60vw
}

.mr-60vw {
    margin-right: 60vw
}

.mb-60vh {
    margin-bottom: 60vh
}

.mt-60vh {
    margin-top: 60vh
}

.ml-65vw {
    margin-left: 65vw
}

.mr-65vw {
    margin-right: 65vw
}

.mb-65vh {
    margin-bottom: 65vh
}

.mt-65vh {
    margin-top: 65vh
}

.ml-70vw {
    margin-left: 70vw
}

.mr-70vw {
    margin-right: 70vw
}

.mb-70vh {
    margin-bottom: 70vh
}

.mt-70vh {
    margin-top: 70vh
}

.ml-75vw {
    margin-left: 75vw
}

.mr-75vw {
    margin-right: 75vw
}

.mb-75vh {
    margin-bottom: 75vh
}

.mt-75vh {
    margin-top: 75vh
}

.ml-80vw {
    margin-left: 80vw
}

.mr-80vw {
    margin-right: 80vw
}

.mb-80vh {
    margin-bottom: 80vh
}

.mt-80vh {
    margin-top: 80vh
}

.ml-85vw {
    margin-left: 85vw
}

.mr-85vw {
    margin-right: 85vw
}

.mb-85vh {
    margin-bottom: 85vh
}

.mt-85vh {
    margin-top: 85vh
}

.ml-90vw {
    margin-left: 90vw
}

.mr-90vw {
    margin-right: 90vw
}

.mb-90vh {
    margin-bottom: 90vh
}

.mt-90vh {
    margin-top: 90vh
}

.ml-95vw {
    margin-left: 95vw
}

.mr-95vw {
    margin-right: 95vw
}

.mb-95vh {
    margin-bottom: 95vh
}

.mt-95vh {
    margin-top: 95vh
}


.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-25 {
    margin-top: 25px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-40 {
    margin-top: 40px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.mt-80 {
    margin-top: 80px !important;
}

.mt-100 {
    margin-top: 100px !important;
}

.mt-120 {
    margin-top: 120px !important;
}

.mt-130 {
    margin-top: 130px !important;
}

.mt-140 {
    margin-top: 140px !important;
}

.mt-150 {
    margin-top: 150px !important;
}

.mt-250 {
    margin-top: 250px !important;
}

.mt-350 {
    margin-top: 350px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-25 {
    margin-bottom: 25px !important;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-40 {
    margin-bottom: 40px !important;
}

.mb-50 {
    margin-bottom: 50px !important;
}

.mb-60 {
    margin-bottom: 60px !important;
}

.mb-80 {
    margin-bottom: 80px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mb-120 {
    margin-bottom: 120px !important;
}

.mb-130 {
    margin-bottom: 130px !important;
}

.mb-140 {
    margin-bottom: 140px !important;
}

.mb-150 {
    margin-bottom: 150px !important;
}

.mb-200 {
    margin-bottom: 200px !important;
}

.mb-350 {
    margin-bottom: 350px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.ml-25 {
    margin-left: 25px !important;
}

.ml-30 {
    margin-left: 30px !important;
}

.ml-40 {
    margin-left: 40px !important;
}

.ml-50 {
    margin-left: 50px !important;
}

.ml-80 {
    margin-left: 80px !important;
}

.ml-100 {
    margin-left: 100px !important;
}

.ml-120 {
    margin-left: 120px !important;
}

.ml-130 {
    margin-left: 130px !important;
}

.ml-140 {
    margin-left: 140px !important;
}

.ml-150 {
    margin-left: 150px !important;
}

.ml-200 {
    margin-left: 200px !important;
}

.ml-350 {
    margin-left: 350px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mr-25 {
    margin-right: 25px !important;
}

.mr-30 {
    margin-right: 30px !important;
}

.mr-40 {
    margin-right: 40px !important;
}

.mr-50 {
    margin-right: 50px !important;
}

.mr-80 {
    margin-right: 80px !important;
}

.mr-100 {
    margin-right: 100px !important;
}

.mr-120 {
    margin-right: 120px !important;
}

.mr-130 {
    margin-right: 130px !important;
}

.mr-140 {
    margin-right: 140px !important;
}

.mr-150 {
    margin-right: 150px !important;
}

.mr-200 {
    margin-right: 200px !important;
}

.mr-350 {
    margin-right: 350px !important;
}


.p5 {
    padding: 5px !important;
}

.p10 {
    padding: 10px !important;
}

.p15 {
    padding: 15px !important;
}

.p20 {
    padding: 20px !important;
}

.p30 {
    padding: 30px !important;
}

.p40 {
    padding: 40px !important;
}

.p50 {
    padding: 50px !important;
}

.p80 {
    padding: 80px !important;
}

.p100 {
    padding: 100px !important;
}


.pb-10 {
    padding-bottom: 10px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.pb-30 {
    padding-bottom: 30px !important;
}

.pb-40 {
    padding-bottom: 40px !important;
}

.pb-50 {
    padding-bottom: 50px !important;
}

.pb-80 {
    padding-bottom: 80px !important;
}

.pb-100 {
    padding-bottom: 100px !important;
}

.pb-150 {
    padding-bottom: 150px !important;
}

.pb-25vh {
    padding-bottom: 25vh !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pt-30 {
    padding-top: 30px !important;
}

.pt-40 {
    padding-top: 40px !important;
}

.pt-50 {
    padding-top: 50px !important;
}

.pt-80 {
    padding-top: 80px !important;
}

.pt-100 {
    padding-top: 100px !important;
}

.pt-150 {
    padding-top: 150px !important;
}

.pt-25vh {
    padding-top: 25vh !important;
}


.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pl-30 {
    padding-left: 30px !important;
}

.pl-40 {
    padding-left: 40px !important;
}

.pl-50 {
    padding-left: 50px !important;
}

.pl-80 {
    padding-left: 80px !important;
}

.pl-100 {
    padding-left: 100px !important;
}


.pr-10 {
    padding-right: 10px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pr-30 {
    padding-right: 30px !important;
}

.pr-40 {
    padding-right: 40px !important;
}

.pr-50 {
    padding-right: 50px !important;
}

.pr-80 {
    padding-right: 80px !important;
}

.pr-100 {
    padding-right: 100px !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

.z-5 {
    z-index: 5;
}

.z-6 {
    z-index: 6;
}

.z-7 {
    z-index: 7;
}

.z-8 {
    z-index: 8;
}

.z-9 {
    z-index: 9;
}

.z-99 {
    z-index: 99;
}

.z-999 {
    z-index: 999;
}

.z-9999 {
    z-index: 9999;
}

.z-99999 {
    z-index: 99999;
}

.attachment-fixed {
    background-attachment: fixed !important;
}

.cover {
    background-size: cover !important;
}

.uppercase {
    text-transform: uppercase;
}

.stroke-w {
    width: 100%;
    height: 1px;
    z-index: 1;
    background: white;
    opacity: .4;
}

.stroke-dark {
    background: gainsboro !important;
    opacity: 1 !important;
}

.stroke-w-side {
    right: 60px;
}

.stroke-h {
    height: 0;
    width: 1px;
    z-index: 1031;
    top: 0;
    right: 60px;
    background: #50505080;
    opacity: .4;
}

.responsive .stroke-h {
    opacity: 0;
}

.custom-container {
    width: 80% !important;
    margin: auto;
}

.pointer-none {
    pointer-events: none;
}

.lazyimg {
    opacity: 0;
}

.lazyimg.initial,
.lazyimg.loaded,
.lazyimg.error {
    opacity: 1;
}


.rotate-90 {
    transform: rotate(90deg);
}

.rotate--90 {
    transform: rotate(-90deg);
}

.no-white-space {
    white-space: nowrap;
}

.image-under-text {
    position: absolute;
    top: -100%;
    right: 0;
    z-index: -1;
    max-width: 80%;
    transform: translate(0px, 50%);
}

.rotate-180 {
    transform: rotate(180deg);
}

.translate-y-50 {
    transform: translate(0, 50%);
}


/* BOUTON */
  .vce-button--style-basic:before,
  .custom-bouton-border:before,
  .custom-bouton:before,
  .vce-button--style-basic:after,
  .custom-bouton-border:after,
  .custom-bouton:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
  }
  .vce-button--style-basic:before,
  .custom-bouton-border:before,
  .custom-bouton:before{
    right: 0;
    top: 0;
  }
  .vce-button--style-basic:after,
  .custom-bouton-border:after,
  .custom-bouton:after{
    left: 0;
    top: 0;
  }
  .vce-button--style-basic:before,
  .custom-bouton:before{
    background-color: var(--tan)!important;
    transform: scaleX(1);
    transform-origin: right;
  }
  .vce-button--style-basic:after,
  .custom-bouton:after{
    background-color: #fff!important;
    transform: scaleX(0);
    transform-origin: left;
  }
  .vce-button--style-basic:hover:before,
  .custom-bouton:hover:before{
    background-color: var(--tan)!important;
    transform: scaleX(0);
    transform-origin: right;
  }
  .vce-button--style-basic:hover:after,
  .custom-bouton:hover:after{
    background-color: #fff!important;
    transform: scaleX(1);
    transform-origin: left;
  }

  .vce-button--style-basic,
  .custom-bouton{
    color: var(--black)!important;
    position: relative!important;
    height: max-content!important;
    padding: 20px 30px!important;
    align-self: center!important;
    text-align: center!important;
    text-decoration: none!important;
    font-weight: normal!important;
    text-decoration: none!important;
    -webkit-transition: all 300ms ease!important;
    -moz-transition: all 300ms ease!important;
    -ms-transition: all 300ms ease!important;
    -o-transition: all 300ms ease!important;
    transition: all 300ms ease!important;
    background: transparent!important;
    z-index: 1;
    cursor: pointer;
  }


  .custom-bouton-border{
    background-color: transparent;
    border: 1px solid var(--tan);
    color: var(--white);
    position: relative;
    height: max-content;
    padding: 20px 30px;
    align-self: center;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 1;
  }

  .custom-bouton-border:before{
    transform: scaleX(1);
    transform-origin: right;
  }
  .custom-bouton-border::after{
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
  }
  .custom-bouton-border:hover:before{
    transform: scaleX(1);
    transform-origin: right;
  }
  .custom-bouton-border:hover:after{
    background-color: #fff;
    transform: scaleX(1);
    transform-origin: left;
  }


  .list-unstyled{
      list-style: none;
      margin: 0;
      padding: 0;
  }