.has-primary-background-color {
  background-color: var(--primary);
}
.has-primary-dark-background-color {
  background-color: var(--dark-primary);
}
.has-secondary-background-color {
  background-color: var(--secondary);
}
.has-black-background-color {
  background-color: var(--black);
}
.has-primary-color {
  color: var(--primary);
}
.has-primary-dark-color {
  color: var(--dark-primary);
}
.has-secondary-color {
  color: var(--secondary);
}
.has-primary-border {
  border-top: solid 7px var(--primary);
  border-bottom: solid 7px var(--primary);
}
.has-primary-dark-border {
  border-top: solid 7px var(--dark-primary);
  border-bottom: solid 7px var(--dark-primary);
}
.has-secondary-border {
  border-top: solid 7px var(--secondary);
  border-bottom: solid 7px var(--secondary);
}
.has-dark-grey-background-color {
  background-color: var(--dark-grey);
}
.has-grey-background-color {
  background-color: var(--grey);
}
.has-light-grey-background-color {
  background-color: var(--light-grey);
}
.has-dark-grey-color {
  color: var(--dark-grey);
}
.has-grey-color {
  color: var(--grey);
}
.has-light-grey-color {
  color: var(--light-grey);
}

.z-index-x {
  z-index: var(--index);
}

/* ----------- */
#primary {
  transform: translate(0, 0);
}
p {
  font-size: 1.1em;
  font-weight: 400;
}
h1 {
  font-size: 4em;
}

.slider .title,
.slider .subtitle {
  color: var(--white);
}
body {
  font-family: var(--font);
}
.close-modal:not(.custom-btn) {
  color: #000;
  border-radius: 50%;
  background-color: #fff;
}
.notification .close-modal {
  position: absolute;
  left: 15px;
  top: 15px;
  background-color: var(--dark-primary);
  color: #fff;
}

.custom-btn {
  background-color: var(--primary);
}
.custom-btn-sec {
  background-color: var(--dark-primary);
}
.custom-btn a,
.custom-btn-sec a {
  color: var(--white);
  text-decoration: none;
  margin: auto;
}
.custom-btn,
.custom-btn-sec {
  color: var(--white);
  margin: auto;
  padding: 1em 4em;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1em;
  display: inline-flex;
  text-decoration: none;
  transition: 0.35s ease;
  text-align: center;
  justify-content: center;
}
.custom-btn:hover {
  color: var(--white);
  text-decoration: none;
  opacity: 0.8;
}
.custom-btn-sec:hover {
  color: var(--white);
  text-decoration: none;
  opacity: 0.95;
}
.o-5 {
  opacity: 0.5;
}
#big-text {
  white-space: nowrap;
  font-size: 6vw;
}
.image-right {
  position: absolute;
  right: -50px;
  margin: 0;
  height: 100%;
  width: 50vw;
  transform: translate(100%, 0);
}
.image-right * {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px 0 0 0;
}
h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
}
h3 {
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: 600;
}
.greyscale {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 1;
  pointer-events: none;
}
.RS-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#rs-menu-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--dark-primary);
}
#rs-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#rs-menu li,
#rs-menu-mobile li {
  margin: 0 1em;
}
#rs-menu span,
#rs-menu-mobile span {
  display: none;
}
#rs-menu img,
#rs-menu-mobile img {
  height: 20px;
  width: 20px;
  max-width: none;
}
.notification {
  position: fixed;
  right: 0;
  bottom: 5vh;
  background-color: var(--dark-primary);
  color: var(--white);
  padding: 1.5em 2em 1.5em 8em;
  border-radius: 25px 0 0 25px;
  z-index: 9;
}
.notification p {
  font-size: 1.2em;
}
.temp {
  width: 100px;
  height: 50px;
}
.notification-logo-left {
  position: absolute;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
}
.notification button span {
  color: var(--white);
}
.notification.closed,
.down-scroll.sticky .notification {
  opacity: 0;
  transform: translateX(100%);
}
.notification .close {
  margin-left: 1em;
}
.notification p {
  max-width: 350px;
}
.custom-modal {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #000000cb;
  transition: 0.8s ease;
}
.custom-modal .modal-dialog {
  transition: 0.8s ease;
}
.modal-big {
  max-width: 80%;
}
.modal-visuel {
  width: 50%;
  margin: 0 1em;
}
.custom-modal.closed {
  opacity: 0;
  transition: 0.6s ease;
  pointer-events: none;
}
.custom-modal.closed .modal-dialog {
  transform: translateY(-50%);
  transition: 0.6s ease;
}
.custom-modal.closed .modal-content {
  pointer-events: none;
}
body.modalOpen {
  overflow-y: hidden;
}
.custom-modal .modal-title {
  font-size: 1.8em;
  text-transform: none;
}

/**
  *     FAQ
  */
ol.schema-how-to-steps {
  margin: 0 0 1.5em;
  padding: 0;
  counter-reset: item;
}
ol.schema-how-to-steps > li {
  margin: 0;
  padding: 0 0 0 2em;
  list-style-type: none;
  counter-increment: item;
}
ol.schema-how-to-steps > li:before {
  display: inline-block;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: "ETAPE | " counter(item) ".";
}
ol.schema-how-to-steps {
  margin: 0;
  padding: 0;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
}
ol.schema-how-to-steps li {
  padding: 15px;
}
ol.schema-how-to-steps li:nth-child(even) {
  background: #f5f5f5;
}
.schema-how-to-description {
  font-weight: 900;
  color: #e73f72;
  font-size: 20px;
  margin-top: 30px;
}
.schema-faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: transparent;
  color: var(--grey);
  border-radius: 0;
  cursor: pointer;
}
.schema-faq-section {
  width: 100%;
}
.schema-faq-question {
  display: flex;
  width: 100%;
  background: white;
  padding: 1em;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0;
  border: 1px solid var(--grey);
  z-index: 9;
  left: 50%;
  top: 50%;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
.single .schema-faq-question {
  font-size: 16px !important;
  align-items: center;
}
.schema-faq-question:before {
  content: "+";
  display: inline-flex;
  font-weight: 600;
  font-size: 28px;
  line-height: 22px;
  margin-right: 15px;
}
.schema-faq-answer {
  padding: 1em;
  display: none;
  overflow: hidden;
}

.faq-light .schema-faq-question {
  border-radius: 15px;
  opacity: 0.6;
}

.faq-light .schema-faq-question:before {
  font-weight: 400;
}

/* ----------- */
/**
  *     Contact form
  */
form .row {
  margin: 2em;
}

form input.wpcf7-form-control {
  width: 100%;
  border-radius: 150px;
  height: 3.5em;
  padding: 0.5em 1.5em;
}
form textarea {
  border-radius: 15px !important;
  padding: 1em !important;
}
.custom-submit input.wpcf7-captchar {
  background: #fff;
  color: #000;
}
.custom-submit input.wpcf7-captchar:placeholder {
  color: #888;
}
.custom-submit input {
  color: var(--white);
  background-color: var(--primary);
  padding: 1em;
  border-radius: 30px;
  font-size: 1em;
  display: inline-flex;
  text-decoration: none;
  transition: 0.35s ease;
  text-align: center;
  justify-content: center;
  border: none;
  width: 50%;
}

.custom-submit input:focus,
.custom-submit input:hover,
.custom-submit input:focus-within {
  color: var(--white);
}

.custom-submit {
  margin: auto;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.custom-submit:hover {
  opacity: 0.95;
}
.img-boutique {
  border-radius: 10px;
}

.search-header {
  color: var(--white);
  position: relative;
}

.search-submit {
  background-color: var(--dark-primary) !important;
  color: var(--white) !important;
  border: none !important;
  width: 50% !important;
}

.captcha {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.captcha > *:not(img) {
  width: 100%;
}

.captcha .wpcf7-captchac {
  margin-bottom: 1em;
}

.wpcf7-spinner {
  position: absolute !important;
  top: 50%;
  transform: translateY(-50%);
}

.wpcf7-captchar::placeholder {
  color: #fff;
}

.custom-submit > p {
  position: relative;
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  color: var(--white);
}

.single-blog h1 {
  font-size: 3.5em;
}

.bold {
  font-weight: 800;
}

.slick-dotted.slick-slider {
  margin-bottom: 0 !important; /* va te faire foutre slick */
}

/* ----------- */
/* Browser Compatibility */
.browser-no-display {
  display: none !important;
}
.section-subtitle {
  color: var(--primary);
}

/* ----------- */
