/* 13 POUCES */
@media (max-height: 768px) {

}
/* 13 POUCES */
@media (max-width: 1280px) {
  .main-menu li a {
      font-size: 0.9em;
  }
  .slider-text {
    width: 100%;
  }
}

@media (max-width: 1200px) {

}
/* IPAD PRO */
@media (max-width: 1024px) {
  .logo {
    padding: 1em 1.5em 1.5em 1.5em;
  }
  .main-menu li a {
    padding: 1em 1.3em;
    font-size: 0.8em;
  }


  .notification {
    padding: 1.5em 1em 1.5em 6em;
  }
  .notification-logo-left {
    left: -13%;
  }
  .notification p {
    font-size: 1em;
  }
  .slider-content {
    padding: 0em;
  }
  .logo-jumbotron {
    width: 75px;
    height: 75px;
  }

}

@media (max-width: 992px) {

}

/* IPAD */
@media (max-width: 768px) {
  p {
    font-size: 1em;
    font-weight: 400;
  }

  .my-slick-slider {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
  }
  .logo svg {
    transition: .3s ease;
    width: 130px;
  }
  body.sticky header:not(.header-light) .logo,
  .logo {
    padding: 0em 1em 1em 1em;
  }
  
  
  .main-menu-container {
    position: relative;
    z-index: 2;
    margin-right: 1em;
  }
 
  .main-menu li a {
    padding: 1em 0.7em;
    font-size: 0.8em;
  }
  .custom-jumbotron {
    width: 80%;
    margin-left: 10%;
    padding: 30px;
  }
  .logo-spacer {
    text-align: center;
    margin: 2em 1em 1em 1em;
  }
  body.sticky .logo {
    padding: 0em 1em 1em 1em;
  }
}

/* MOBILE */
@media (max-width: 576px) {
  ul#footer-menu{
    text-align: center;
  }
  .footer-devis{
    margin: auto;
  }
  footer hr{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }
  .adresse-link span{
    margin: auto;
  }
  form .row {
    margin: 0;
  }
  form .row > div{
    margin: 0.5em 0;
  }
  .custom-submit input{
    width: 100%;
  }

  .archive-single-product,
  .shop-product{
    max-width: 80%!important;
  }

  div.shop-product li.archive-single-product{
    max-width: 100%!important;
  }

  .taxo-desc{
    display: none;
  }

  .archive-content .row{
    justify-content: center;
  }

  .filtre-sidebar{
    max-width: 100%;
    width: 100%;
  }

  .filtre-toggle{
    z-index: 9999;
  }

  .taxo-filter{
    padding-bottom: 10vh;
  }

   .archive-title{
    font-size: clamp(20px, 4em, 40px);
    margin: 0 10% 50px 10%;
  }

  .blog-title-side.team-title{
    position: absolute;
    top: 20%;
  }

  .title-page.single-blog{
    margin-bottom: -20vh;
  }

  .cpt-single{
    padding-top: 0;
  }

  .product-gallery-sticky img{
    height: 50vh;
  }

  .product-gallery-sticky{
    min-height: auto;
  }

  .product-gallery-container{
    position: relative;
    width: 100vw;
    left: -15px;
  }

  .product-information{
    padding-top: 5vh;
  }

  .related-posts .row,
  .see-more-posts .row{
    flex-wrap: nowrap;
    overflow: auto;
  }
  .related-posts .product-inner-link,
  .see-more-posts .product-inner-link,
  .related-posts > .row  > * {
    width: 70vw;
    flex: 1 0 70vw;
    margin: 10px;
    display: inline-table;
}

  .related-posts .product-inner-link:last-of-type,
  .see-more-posts .product-inner-link:last-of-type {
    width: calc(80vw - 20px);
    padding-right: 5vw;
  }

  .product-title{
    left: 0;
    width: 100%;
    border-radius: 0;
    bottom: 0;
    font-size: 1em;
  }

  .filtre-toggle:before{
    content:none;
  }

  .see-all{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .product-name{
    font-size: 2.5em;
    margin-top: 1em;
  }

  .logo > a > img, .logo > a > svg {
    max-width: 100px;
    max-height: 100px;
  }

  .sticky .header-light .burger-menu{
    top: 15px;
  }

  .arrows{
    top: 75vh !important;
  }

  .burger-menu{
    width: 50px;
    height: 50px;
  }

  .menu-toggle span{
    width: 28px;
  }

  .parallaxImg{
    margin-top: 20px;
  }

  iframe{
    max-height: 50vh;
  }


  h1{
    font-size: 2em;
  }
  
  h2{
    font-size: 1.5em;
  }

  h3{
    font-size: 1em;
  }
  .wp-block-button_link{
    font-size: 0.9em;
  }

}
