.shop-product{
    display: flex;
    flex-direction: column;
    max-width: calc(100% / 3 - 30px);
    margin-bottom: 1em;
}

div.shop-product li.archive-single-product.product{
    max-width: 100%;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    height: auto;
    flex: 100%;
}

.archive ul.products:before,
.archive ul.products:after{
    content: unset;
}

div.shop-product li.archive-single-product a img.wp-post-image{
    margin: 0;
}

.woocommerce a.add_to_cart_button,
.woocommerce .cart .button,
.woocommerce button.button,
.woocommerce a.woocommerce-button,
.woocommerce a.woocommerce-Button,
.woocommerce a.edit,
.woocommerce button.button.alt,
.woocommerce a.button
{
    width: fit-content;
    color: var(--white);
    background-color: var(--dark-primary);
    font-weight: 500;
    border-radius: 4px;
    transition: .35s ease;
    display: inline-flex;
}

.woocommerce-account .addresses .title a.edit{
    padding: .25rem .5rem;
    float: left;
    margin-bottom: .5rem;
}

.woocommerce button.button:disabled[disabled]{
    color: #FFF;
}

.woocommerce a.checkout-button.alt{
    background-color: var(--dark-primary);
    transition: .35s ease;
}

.woocommerce a.checkout-button.alt:hover{
    background-color: var(--primary);
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
    min-width: 150px;
}

.woocommerce td.product-name{
    font-size: 1.2em;
}

.woocommerce a.add_to_cart_button:hover,
.woocommerce .cart .button:hover,
.woocommerce button.button:hover,
.woocommerce a.woocommerce-button:hover,
.woocommerce a.woocommerce-Button:hover,
.woocommerce a.woocommerce-button:focus,
.woocommerce a.woocommerce-Button:focus,
.woocommerce a.add_to_cart_button:focus,
.woocommerce .cart .button:focus,
.woocommerce button.button:focus,
a.edit:hover, a.edit:focus,
.woocommerce button.button.alt:hover,
.woocommerce button.button.alt:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus
{
    background-color: var(--primary);
    color: var(--white);
}

.shop-product .price,
.related-products .price{
    font-size: 1.2em;
    font-weight: bold;
    color: var(--secondary);
    margin-right: 1em;
}

.shop-product .jcc{
    justify-content: space-between;
    align-items: center;
}

.added_to_cart{
    margin-left: 1em;
    padding: 0;
}

.woocommerce-cart div.entry-content,
.woocommerce-checkout div.entry-content,
.woocommerce-account div.entry-content{
    padding: 250px 0 50px 0;
    min-height: 600px;
}

.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{
    max-width: unset;
    flex: unset;
}

/* header summary */


.cart-summary {
    margin-right: 5vw;
    position: relative;
    align-self: center;
    cursor: pointer;
  }

  .cart-summary > a > div{
      background-color: var(--dark-primary);
      padding: 1em;
      border-radius: 50%;
  }

  .header-light .cart-summary > a > div:first-child{
      background-color: transparent;
  }

  .sticky .header-light .cart-summary > a > div:first-child > svg g,
  .sticky .header-light .cart-summary > a > div:first-child > svg path{
        fill: var(--black);
        stroke: var(--black);
  }
  
  header .cart-wrapper {
    top: 100%;
    right: 0;
    position: absolute;
    flex-direction: column;
    transform: translate(1rem, 0);
    padding-top: 40px;
    display: none;
  
  }
  .cart-summary:hover .cart-wrapper{
    display: block;
  }
  header .cart-wrapper > div {
    padding: 1em;
    border: 1px solid var(--wp--preset--color--primary);
    border-radius: 5px;
    background-color: #FFF;
    width: 500px;
  }
  header .cart-wrapper > div > div{
    align-items: center;
  }
  header .cart-wrapper > div > div:not(:first-of-type) {
    border-top: 1px solid #00000026;
    padding: 10px 0 0px 0;
    margin: 10px 0 0 0;
  }
  header .cart-wrapper > div > div *{
    margin: auto 0;
  }
  .cart-name-head a{
    display: flex;
    flex-direction: column;
    margin-right: auto!important;
  }
  header .cart-name-head{
    margin-right: auto!important;
  }
  header .cart-wrapper img {
      max-width: 35px;
      width: 35px;
      height: 35px;
      margin: 0 1rem!important;
  }
  .price-cart-head{
    padding: 0 15px;
  }
  .remove-from-cart,
  .complete-from-cart{
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    padding: 0px!important;
    display: flex;
  }
  .complete-from-cart{
    background-color: var(--primary);
    color: #FFF!important;
    margin-right: 10px!important;
  }
  .remove-from-cart{
    background-color: var(--secondary);
    color: var(--white)!important;
  }
  #cart_count {
    position: absolute;
    color: #fff;
    background-color: var(--wp--preset--color--primary);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 0.7em;
    right: 0;
    bottom: 0;
  }

  /* Thankyou page */

  .woocommerce ul.order_details{
      padding: 1rem;
      border: 1px solid rgba(0,0,0,0.1);
      border-radius: 5px;
  }


  /*  Account page */

  nav.woocommerce-MyAccount-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    margin-right: 3em;
    display: grid;
    gap: 1px;
    background-color: var(--dark-primary);
    border: 1px solid var(--dark-primary);
}

nav.woocommerce-MyAccount-navigation li a {
    padding: 0.6em 1em;
    display: flex;
    background-color: var(--white);
}

nav.woocommerce-MyAccount-navigation li.is-active a {
    background-color: var(--dark-primary);
    color: var(--white);
}

.woocommerce mark{
    background-color: var(--secondary);
}

@media screen and (max-width: 768px){
  .shop-product{
    margin-bottom: 4rem;
  }
}