.slider-filter{
    padding: 4em;
    position: relative;
}

.filtre{
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
}

.filter{
    color: var(--grey);
    border: 1px solid var(--grey);
    padding: 0.7em 1.7em;
    margin: 0 1em;
    border-radius: 200px;
    transition: .5s ease;
}

.filter.select,
.filter:hover{
    background-color: var(--primary);
    color: var(--white);
    border: 1px solid var(--primary);
    text-decoration: none;
}

.modele-slide{
    margin: 1em;
    position: relative;
}

.modele-slide h5{
    position: absolute;
    right: 10%;
    top: 10%;
    color: var(--white);
}

.modele-slide img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.slider-txt-bkg{
    max-height: 250px;
    position: relative;
    stroke: var(--dark-grey);
    opacity: .3;
    transform: translate(5%, 0);
}


.modele-slider-arrows{
    width: 70px;
    height: 125px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 3px;
    position: absolute;
    left: 70vw;
    transform: translateY(-8vh);
    z-index: 4;
}

.modele-prev-arrows,
.modele-next-arrows{
    cursor: pointer;
    background-color: var(--primary);
    height: 50%;
    width: 100%;
}

.modele-prev-arrows{
    border-radius: 50px 50px 0 0;
}

.modele-next-arrows{
    border-radius: 0 0 50px 50px;
}

.modele-prev-arrows svg{
    transform: rotate(90deg);
}

.modele-next-arrows svg{
    transform: rotate(-90deg);
}

.cat-greyscale{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.modele-slide .modele-sizes{
    display: none;
}

.modele-sizes hr{
    opacity: .4;
}


  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/

/* IPAD */
@media (max-width: 768px) {
    .slider-filter {
        padding: 4em 0em;
        position: relative;
      }
      .filter {
        font-size: 0.8em;
        padding: 0.7em 1.7em;
        margin: 0 0.5em;
      }
}

  /* MOBILE */
  @media (max-width: 576px) {
    .filtre {
        width: 100%;
        flex-wrap: wrap;
      }
      .filter {
        font-size: 0.8em;
        padding: 0.7em 1.7em;
        margin: 0 0.5em 1em;
      }
}