/*       Timeline
*********************************************************************/
.timeline-top {
    min-height: 250px;
  }
  .timeline-top > div {
    position: absolute;  
    left: 50%;
    transform: translateX(-50%);
  }
  .timeline-top img {
    max-height: 200px;
  }
  #timeline-prev,
  #timeline-next {
    left: 5vw;
    top: 50px;
    width: 56px;
    height: 56px;
  
    transform: rotate(180deg);
    cursor: pointer;
  }
  #timeline-next {
    left: inherit;
    right: 5vw;
  
    transform: rotate(0deg);
  }
  #timeline-line {
    display: block;
    top: 77px;
    height: 5px;
    border-radius: 10px;
  
    background: linear-gradient(90deg, #cde0f8, var(--primary));
  }
  #timeline-line::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 2px;
    transform: translateY(2px);
  
    background: linear-gradient(
        90deg,
        rgba(220, 220, 220, 1) 0px,
        rgba(220, 220, 220, 1) 12px,
        rgba(220, 220, 220, 0) 13px,
        rgba(220, 220, 220, 0) 18px
      )
      repeat-x;
  
    background-size: 18px 1px;
  }
  .timeline-date-back {
    height: 77px;
    transform: translateY(3px);
    z-index: -1;
  }
  .timeline-date-back {
    line-height: 1em;
    font-size: 120px;
    font-weight: 500;
    color: var(--dark-primary);
    padding-left: 55vw;
  }
  .timeline-date-back p {
    animation: upLetter 0.65s ease forwards;
  
    transform: translateY(80px);
    opacity: 0;
  }
  .timeline-date-back p:nth-child(2) {
    animation-delay: 0.15s;
  }
  .timeline-date-back p:nth-child(3) {
    animation-delay: 0.3s;
  }
  .timeline-date-back p:nth-child(4) {
    animation-delay: 0.45s;
  }
  
  @keyframes upLetter {
    from {
      opacity: 0;
      transform: translateY(80px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .timeline-slider{
    min-height: 500px;
  }
  
  .timeline-slide {
    display: flex;
    /* position: relative; */
  }
  
  .timeline-slide p {
    max-width: 380px;
    opacity: 0;
    user-select: none;
    pointer-events: none;
  
    transition: all 500ms ease;
  }
  
  .slide-see.timeline-slide p {
    display: initial;
    opacity: 1;
    user-select: inherit;
    pointer-events: initial;
  }
  .cc {
    position: absolute;
    width: 380px;
    top: 100px;
  }
  .slide-right .cc {
    transform: translateX(calc(-100% + 30px));
    text-align: right;
  }
  .slide-date {
    display: block;
    transform: rotate(-90deg) translateX(calc(-100% - 20px));
    transform-origin: left top;
    text-align: right;
    transition: all 300ms 100ms ease-out !important;
  }
  .slide-see .slide-date {
    transform: rotate(-90deg) translateX(-100%);
  }
  
  .slide-dot {
    position: relative;
    width: 0px;
    height: 0px;
    top: 15px;
    margin: 15px 11px;
    border-radius: 10px;
  
    cursor: pointer;
    background: var(--primary);
  
    transform: translateY(2px) scale(0.5);
  }
  .slide-dot::after,
  .slide-dot::before {
    position: absolute;
    content: "";
  
    width: 28px;
    height: 28px;
    border-radius: 30px;
  
    border: 1px solid var(--primary);
    transform: translate(-11px, -11px);
    transition: all 0.9s cubic-bezier(0.25, 0, 0.45, 1);
  }
  .slide-dot::before {
    transform: translate(-11px, -11px) scale(0);
  }
  .slide-see .slide-dot {
    width: 8px;
    height: 8px;
  
    transform: scale(1);
  }
  .slide-see .slide-dot::after {
    transform: translate(-11px, -11px) scale(3);
    opacity: 0;
    border: 0.5px solid var(--white);
  }
  .slide-see .slide-dot::before {
    transform: translate(-11px, -11px) scale(1);
  }

  .timeline-arrows{
    background-color: var(--dark-primary);
    border-radius: 50%;
    user-select: none;
  }

  .timeline-slider-container{
    width: 75vw;
    margin: auto;
  }


  
  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/

  /* MOBILE */
  @media (max-width: 576px) {
    #timeline-prev,
    #timeline-next {
      width: 35px;
      height: 35px;
      top: 62.5px;
      left: 2vw;
    }
    #timeline-next{
      right: 2vw;
      left: inherit;
    }
    .timeline-slide p{
      left: 0;
      max-width: 100%;
    }
    .timeline-date-back{
      font-size: 90px;
      padding-left: 45vw;
    }
    .timeline-date-back {
      height: 60px;
      transform: translateY(20px);
    }
  }