/*   Parallax images
********************************/

  .parallaxImg img,
  .elem-para {
    outline: 20px solid var(--white);
  }
  .img-para > * {
    left: 50%;
    position: relative;
    transform: translate(-50%, -50%);
    transition-delay: 50ms;
  }
  
  .container-divider {
    background-color: #dddddd;
    background-position: center top;
  }
  .container-divider:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    transform: translateY(66%);
    /* z-index: -1; */
    pointer-events: none;
  }
  .container-divider img {
    max-height: 80%;
    max-width: 50%;
  }

  /*************************************************
  *                 RESPONSIVE                     *
  **************************************************/

  /* MOBILE */
  @media (max-width: 576px) {

  
  }