.toggle-slider-section{
    background-color: var(--dark-primary);
    padding: 3em;
    padding-bottom: 0;
    color: var(--white);
    position: relative;

}

.toggle-categorie{
    display: inline-flex;
    margin: 5vh auto 8vh auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.toggle-categorie p,
.toggle-categorie span{
    /* margin: auto; */
    opacity: .4;
}

.toggle-toggle {
    cursor: pointer;
    margin: 0 1em 0 0!important;
    padding: 0 0 0 1em!important;
    font-size: 1.5em;
    text-align: center;
}

.toggle-toggle:first-of-type{
  padding-left: 0!important;
}

.toggle-toggle.select{
    opacity: 1;
}

.toggle-text-slider{
    padding-bottom: 2em;
}

.toggle-image-slider{
    position: absolute!important;
    top: 0;
    width: calc(50vw - 70px);
    height: 100%;
}

.flex-row .toggle-image-slider{
    left: calc(50% + 70px);
}

.flex-row-reverse .toggle-image-slider{
    right: calc(50% + 70px);
}

.flex-row .toggle-image-slide{
    border-radius: 25px 0 0 0;
    height: 100%;
    object-fit: cover;
}

.flex-row-reverse .toggle-image-slide{
    border-radius: 0 25px 0 0;
    height: 100%;
    object-fit: cover;
}

.toggle-image-slider .slick-track{
    height: 100%;
}

#my-arrows{
    position: absolute;
    z-index: 999;
    top: 500vh;
}

.slick-list{
    height: 100%;
}

.toggle-content-spacer{
    height: 5vh;
}



/*************************************************
*                 RESPONSIVE                     *
**************************************************/

/* MOBILE */
@media (max-width: 576px) {
    .toggle-slider-section {
        padding: 0;
    }
    .toggle-categorie span{
        display: none;
    }
    .toggle-content-spacer {
        display: none;
    }
    .toggle-toggle {
        font-size: 1em;
    }
    .toggle-toggle {
        font-size: 0.9em;
    }

}